.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6,
.sidebar p {
  margin: 0;
}

.sidebar {
  width: 240px;
  background: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 24px 24px 24px 24px;
  gap: 8px;
}

.sidebar .top {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar .blog-title {
  font-size: xx-large;
}

.sidebar .top p {
  font-size: large;
}

.sidebar .navigation {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar .nav-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar a {
  font-size: xx-large;
  font-weight: 900;
  color: black;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  
  gap: 8px;
}

.sidebar .bottom a {
  font-size: large;
  display: flex;
  flex-direction: column;
  
  gap: 8px;
}