---
layout: page
title: Home
---

<!-- Project Cards -->

{% assign p1name = "Untitled Fishing Game" %}
{% assign p2name = "Liminal Space Basketball" %}

{% assign p1 = site.projects | where: "title", p1name | first %}
{% assign p2 = site.projects | where: "title", p2name | first %}

{% assign all = site.projects | sort: "date" | reverse %}

{% assign exclude = p1name | append: "," | append: p2name | split: "," %}

{% assign secondary = "" | split: "," %}

{% for project in all %}
  {% unless exclude contains project.title %}
    {% assign secondary = secondary | push: project %}
  {% endunless %}
{% endfor %}

{% assign s1 = secondary[0] %}
{% assign s2 = secondary[1] %}
{% assign s3 = secondary[2] %}

<!-- Tool Cards -->

{% assign tools = site.tools | sort: "date" | reverse %}

<link rel="stylesheet" href="/assets/css/sidebar.css">
<link rel="stylesheet" href="/assets/css/project-card.css">
<link rel="stylesheet" href="/assets/css/section-header.css">
<link rel="stylesheet" href="/assets/css/post-list.css">
<link rel="stylesheet" href="/assets/css/post-entry.css">
<link rel="stylesheet" href="/assets/css/footer-bar.css">

<style>
  .home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #fff;

    gap: 8px;
  }

  .projects {
    display: grid;
  }

  .featured-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .secondary-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tool-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  @media (max-width: 768px) {
    .featured-projects {
        grid-template-columns: 1fr;
    }
    .secondary-projects {
        display: none;
    }
  }
</style>

<div class="home-page">
  <div class="projects">
    {% include section-header.html title="Projects" link="/projects" %}
    <div class="featured-projects">
      {% include project-card.html project=p1 %}
      {% include project-card.html project=p2 %}
    </div>
    <div class="secondary-projects">
      {% if s1 %}
        {% include project-card.html project=s1 %}
      {% endif %}
      {% if s2 %}
        {% include project-card.html project=s2 %}
      {% endif %}
      {% if s3 %}
        {% include project-card.html project=s3 %}
      {% endif %}
    </div>
  </div>

  <div class="tools">
    {% include section-header.html title="Tools" link="/tools" %}

    <div class="tool-grid">
      {% for t in tools %}
        {% include project-card.html project=t %}
      {% endfor %}
    </div>
  </div>

  <div class="posts">
    {% include section-header.html title="Blog" link="/posts" %}

    {% include post-list.html %}
  </div>
</div>
